body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1158px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  position:absolute;
  left:722px;
  top:68px;
  width:129px;
  height:72px;
}
#u2 {
  position:absolute;
  left:2px;
  top:28px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:72px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  position:absolute;
  left:851px;
  top:68px;
  width:307px;
  height:72px;
}
#u4 {
  position:absolute;
  left:2px;
  top:28px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gill Sans Ultra Bold', 'Gill Sans';
  font-weight:800;
  font-style:normal;
  font-size:60px;
  color:#FFFFFF;
}
#u5 {
  position:absolute;
  left:859px;
  top:71px;
  width:299px;
  height:79px;
  font-family:'Gill Sans Ultra Bold', 'Gill Sans';
  font-weight:800;
  font-style:normal;
  font-size:60px;
  color:#FFFFFF;
}
#u6 {
  position:absolute;
  left:2px;
  top:-3px;
  width:295px;
  word-wrap:break-word;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gill Sans Ultra Bold', 'Gill Sans';
  font-weight:800;
  font-style:normal;
  font-size:50px;
  color:#0099FF;
}
#u7 {
  position:absolute;
  left:719px;
  top:68px;
  width:137px;
  height:83px;
  font-family:'Gill Sans Ultra Bold', 'Gill Sans';
  font-weight:800;
  font-style:normal;
  font-size:50px;
  color:#0099FF;
}
#u8 {
  position:absolute;
  left:2px;
  top:6px;
  width:133px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:12px;
  height:10px;
}
#u9 {
  position:absolute;
  left:844px;
  top:103px;
  width:7px;
  height:5px;
}
#u10 {
  position:absolute;
  left:2px;
  top:-6px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:12px;
  height:10px;
}
#u11 {
  position:absolute;
  left:851px;
  top:103px;
  width:7px;
  height:5px;
}
#u12 {
  position:absolute;
  left:2px;
  top:-6px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  height:695px;
}
#u13 {
  position:absolute;
  left:24px;
  top:-37px;
  width:669px;
  height:695px;
}
#u14 {
  position:absolute;
  left:2px;
  top:340px;
  width:665px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:114px;
}
#u15 {
  position:absolute;
  left:309px;
  top:202px;
  width:100px;
  height:114px;
}
#u16 {
  position:absolute;
  left:2px;
  top:49px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:90px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u18 {
  position:absolute;
  left:772px;
  top:260px;
  width:256px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:28px;
}
#u20 {
  position:absolute;
  left:783px;
  top:266px;
  width:25px;
  height:28px;
}
#u21 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:815px;
  top:264px;
  width:199px;
  height:33px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:90px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u24 {
  position:absolute;
  left:770px;
  top:342px;
  width:256px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:30px;
}
#u26 {
  position:absolute;
  left:786px;
  top:347px;
  width:25px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:814px;
  top:346px;
  width:199px;
  height:33px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29 {
  position:absolute;
  left:834px;
  top:471px;
  width:141px;
  height:34px;
}
#u30 {
  position:absolute;
  left:2px;
  top:9px;
  width:137px;
  word-wrap:break-word;
}
